.TermoUso {
  max-width: 960px;
  margin: 0 auto;
  padding: 16px 0;
}

@media all and (min-width: 480px) {
    .Termo {
      padding: 60px 0;
    }
  
    .Termo form {
      margin: 0 auto;
      max-width: 320px;
    }
    .header {
        padding: 60px;
        text-align: center;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,14,101,1) 0%, rgba(0,212,255,1) 100%);
        color: white;
        font-size: 30px;
    }
    .linha1{
        margin-top: 12px;
    }
  }