span {
  color: white;
  font: bold 45px/75px Helvetica, Sans-Serif;
}

.center {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,14,101,1) 0%, rgba(0,212,255,1) 100%);
    padding: 7px;
    align-items: center
  }