.wrapper {
  display: grid;

  /* mude a primeira variável no repeat para a quantidade de colunas */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 40px 100px 40 px;
}

.wrapper div {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.wrapper .head {
  background-color: aqua;
}

.wrapper .aceito {
  background-color: greenyellow;
}

.wrapper .n_aceito {
  background-color: red;
}
