h1,
p {
  font-family: Lato;
}

.main_container {
  display: table;
  height: 100%;
  width: 100%;
}

.menu {
  display: table-cell;
  width: 200px;
  border-right: 1px;
  border-right-color: white;
  border-right-style: solid;
  background-color: rgba(0,14,101,0.1);
}

#selected_title {
  color: white;
  height: 50px;
  border-bottom: 1px;
  padding-top: 10px;
  border-bottom-color: black;
  border-bottom-style: solid;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,14,101,1) 0%, rgba(0,212,255,1) 100%);
  font: bold 15px Helvetica, Sans-Serif;
  font-size: 25px;
}

.section_title {
  font-size: 20px;
}

.content {
  min-width: 500px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.separator {
  height: 1px;
  background-color: black;
}
